/*
	CASH FOR BACON
	Variables
*/

//-- COLORS --//

// Text
$text-red:			#E63B2C;
$text-gray:			#5A6468;

// Backgrounds
$bg-blue-light:		#D8E0EC;
$bg-blue-dark:		#B5BCC6;
$bg-gray-dark:		#3D3D3D;
$bg-gray-darker:	#101010;

// Other
$divider-blue:		#245270;
$black:				#000000;
$white:				#FFFFFF;


//-- IMAGES --//
$sprite: url('images/c4b-sprite.png');
