/*
	CASH FOR BACON
	PSD to HTML Conversion
	Jordan Pakrosnis
	11/18/2015
*/

// INCLUDES //
@import 'normalize';
@import 'variables';


// UTILITIES //
*::selection {
	background: $text-red;
	color: $white;
}

*::-moz-selection {
	background: $text-red;
	color: $white;
}

div, header, main {
	display: block;
}


// BODY //
body {
	background: $bg-gray-darker;
	font-family: 'Open Sans', sans-serif;
	color: $text-gray;
	text-align: center;
}

// HEADERS //
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: -0.08em;
}

h1 {
	display: block;
	font-size: 60px;
	line-height: 40px;
	font-weight: 600;
	font-style: italic;
	text-align: right;
	color: $text-red;

	span {
		font-size: 86px;
		line-height: 85px;
		color: $text-gray;
		font-weight: 800;
		letter-spacing: -0.06em;
	}

} // h1


// WRAPS //
.wrap, main {
	// background: rgba(0,0,255,0.25);
	margin: 0 auto;
	max-width: 964px;
}


// HEADER //
header {
	width: 100%;
	height: 183px;
	background-image: $sprite;
	background-position: bottom;

	.wrap {
		padding: 32px;
	}

} // header


// GIRL & BACON //
#girl-bacon {
	width: 100%;
	height: 393px;
	background: $bg-blue-light;
	background: -moz-linear-gradient( top, $bg-blue-dark 0%, $bg-blue-light 13% );
	background: -webkit-linear-gradient( top, $bg-blue-dark 0%, $bg-blue-light 13% );
	background: linear-gradient( to bottom, $bg-blue-dark 0%, $bg-blue-light 13% );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5BBC5', endColorstr='#D8E0EC',GradientType=0 );

	.wrap {
		position: relative;
	}

} // #girl-bacon

#bacon-img {
	position: absolute;
	top: 25px;
	right: 0;
	width: 684px;
	height: 354px;
	background: $sprite top left no-repeat;
}

#girl-img {
	position: absolute;
	top: -172px;
	left: -65px;
	width: 494px;
	height: 596px;
	background: $sprite 0 -354px no-repeat;
}


//-- MAIN CONTENT --//
#main-content-wrap {
	background: $bg-gray-dark;
	background: -moz-linear-gradient( top, $bg-gray-dark 0%, $bg-gray-darker 100% );
	background: -webkit-linear-gradient( top, $bg-gray-dark 0%, $bg-gray-darker 100% );
	background: linear-gradient( to bottom, $bg-gray-dark 0%, $bg-gray-darker 100% );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D3D3D', endColorstr='#101010',GradientType=0 );
}

main {
	position: relative;
	top: -20px;
	background: $diag-bg-pattern;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid $black;
}
