/*
	CASH FOR BACON
	PSD to HTML Conversion
	Jordan Pakrosnis
	11/18/2015
*/

// INCLUDES //
@import 'normalize';
@import 'variables';


// BODY //
body {
	background: $bg-gray-darker;
	font-family: 'Open Sans', sans-serif;
	color: $text-gray;
	text-align: center;
}

// HEADER //
